{{ define "main" }}

<style>
.history-video-box {
    height: 300px;
}
.history-video {
    height: 300px;
}
.time-line-circle {
    margin-top: -40px;
    margin-right: -23px;
}
@media screen and (min-width:768px) {
    .history-video-box {
        height: 400px;
    }
    .history-video {
        height: 400px;
    }
    .time-line-circle-opposite {
    margin-top: -40px !important;
    margin-left: -24px !important;
}
}
@media screen and (min-width:1200px) {
    .history-video-box {
        height: 440px;
    }
    .history-video {
        height: 440px;
    }
}
</style>

{{ partial "globals/inner-title.html" . }}

<section class="flex flex-wrap max-w-8xl mx-auto pb-20">
    <div class="w-full md:w-2/3 lg:w-1/2 mx-auto history-video-box">
        <iframe class="w-full history-video" src="{{ .Page.Params.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="flex flex-wrap max-w-8xl mx-auto py-20 xxl:px-48">
    <div class="flex w-5/6 md:w-4/5 lg:w-2/3 mx-auto pb-8">
        <div class="relative w-1/12 md:w-1/2 border-r-4 border-black">
            <i class="absolute top-0 right-0 text-4xl text-color-AA803F time-line-circle far fa-circle"></i>
        </div>
        <div class="w-11/12 md:w-1/2 -mt-10 pl-10">
            <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight">{{ .Page.Params.timeline.first_entry.year }}</h3>
            <p class="font-calibre text-base sm:text-xl md:text-2xl font-thin leading-snug pb-8 pr-10 md:pr-12">{{ .Page.Params.timeline.first_entry.event }}</p>
        </div>
    </div>
    <div class="flex md:flex-row-reverse w-5/6 md:w-4/5 lg:w-2/3 mx-auto pb-8">
        <div class="relative w-1/12 md:w-1/2 border-r-4 md:border-r-0 md:border-l-4 mr-2 border-black">
            <i class="md:hidden absolute top-0 right-0 text-4xl text-color-AA803F time-line-circle far fa-circle"></i>
            <i class="hidden md:block absolute top-0 left-0 text-4xl text-color-AA803F time-line-circle-opposite far fa-circle"></i>
        </div>
        <div class="w-11/12 md:w-1/2 -mt-10 pl-8 md:pl-10">
            <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight">{{ .Page.Params.timeline.second_entry.year }}</h3>
            <p class="font-calibre text-base sm:text-xl md:text-2xl font-thin leading-snug pb-8 pr-10 md:pr-12">{{ .Page.Params.timeline.second_entry.event }}</p>
        </div>
    </div>
    <div class="flex w-5/6 md:w-4/5 lg:w-2/3 mx-auto pb-8">
        <div class="relative w-1/12 md:w-1/2 border-r-4 border-black">
            <i class="absolute top-0 right-0 text-4xl text-color-AA803F time-line-circle far fa-circle"></i>
        </div>
        <div class="w-11/12 md:w-1/2 -mt-10 pl-10">
            <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight">{{ .Page.Params.timeline.third_entry.year }}</h3>
            <p class="font-calibre text-base sm:text-xl md:text-2xl font-thin leading-snug pb-8 pr-10 md:pr-12">{{ .Page.Params.timeline.third_entry.event }}</p>
        </div>
    </div>
    <div class="flex md:flex-row-reverse w-5/6 md:w-4/5 lg:w-2/3 mx-auto pb-8">
        <div class="relative w-1/12 md:w-1/2 border-r-4 md:border-r-0 md:border-l-4 mr-2 border-black">
            <i class="md:hidden absolute top-0 right-0 text-4xl text-color-AA803F time-line-circle far fa-circle"></i>
            <i class="hidden md:block absolute top-0 left-0 text-4xl text-color-AA803F time-line-circle-opposite far fa-circle"></i>
        </div>
        <div class="w-11/12 md:w-1/2 -mt-10 pl-8 md:pl-10">
            <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight">{{ .Page.Params.timeline.fourth_entry.year }}</h3>
            <p class="font-calibre text-base sm:text-xl md:text-2xl font-thin leading-snug pb-8 pr-10 md:pr-12">{{ .Page.Params.timeline.fourth_entry.event }}</p>
        </div>
    </div>
    <div class="flex w-5/6 md:w-4/5 lg:w-2/3 mx-auto pb-8">
        <div class="relative w-1/12 md:w-1/2 border-r-4 border-black">
            <i class="absolute top-0 right-0 text-4xl text-color-AA803F time-line-circle far fa-circle"></i>
        </div>
        <div class="w-11/12 md:w-1/2 -mt-10 pl-10">
            <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight">{{ .Page.Params.timeline.fifth_entry.year }}</h3>
            <p class="font-calibre text-base sm:text-xl md:text-2xl font-thin leading-snug pb-8 pr-10 md:pr-12">{{ .Page.Params.timeline.fifth_entry.event }}</p>
        </div>
    </div>
</section>

{{ partial "globals/collage-section.html" . }}

{{ end }}