{{ define "main" }}

<style>
.tns-nav {
    text-align: center;
}
.tns-nav > [aria-controls] {
    background-color: grey;
    opacity: 0.4;
    padding: 3px;
    margin-right: 5px;
    border-radius: 6em;
    transition: .2s;
}
.tns-nav > .tns-nav-active {
    background-color: #00594D;
    padding: 5px;
    opacity: 1;
    border-radius: 6em;
    transition: .2s;
}
.services-img-2 {
    background-image: url("/pageimg/insuring-home-boat.jpg");
}
.accordion-content {
    transition: .2s;
}
.about-us-image {
    background-image: url("/pageimg/About Us Image.jpg");
}

@media screen and (min-width:1200px) {
    .hero-img {
    width: 780px;
    height: 640px;
}
}

</style>

<section class="flex flex-wrap bg-color-00594D pt-24 pb-24 lg:pb-12 xl:pb-6 -mt-48 z-0">
    <div class="w-5/6 lg:w-1/2 xl:w-5/12 mx-auto pt-40 lg:pl-12 xl:pl-20 xxl:pl-32 lg:pr-20 z-0">
        <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">YOUR TRUSTED ADVISOR</h6>
        <h1 class="font-canela text-3xl md:text-5xl text-white leading-tight pb-3">We have your trust, insured.</h1>
        <p class="font-calibre text-base md:text-2xl font-thin text-white leading-snug pb-8">Whether it’s home or auto, business risk management, or life/health insurance, we’ve built a reputation over the past 50 years for insuring the trust of thousands across the Southeast. Let us do the same for you.</p>
        <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
            <span class="font-calibre-bold text-base text-white brown-button-text">Call us today!</span>
        </a>
    </div>
    <div class="flex flex-wrap w-5/6 lg:w-1/2 xl:w-7/12 mt-20 lg:pr-12 xl:pr-20 mx-auto pl-0 -mb-16">
        <img class="hidden lg:block hero-img" src="/pageimg/lee-hill-johnson.jpg">
    </div>
</section>

<section class="flex flex-wrap pt-20 lg:pt-40 pb-16">
    <div class="w-5/6 lg:w-1/2 mx-auto text-center">
        <h2 class="font-canela text-3xl md:text-5xl text-color-11594C leading-tight pb-3">Independence feels good.</h2>
        <p class="font-calibre text-base md:text-2xl text-color-262626">For nearly 60 years, we’ve been insuring the trust of people in Statesboro, Bulloch county, and the surrounding Southeast areas. As an independent insurance agency, we can offer the best personal, business, life and health insurance options on the market.</p>
    </div>
</section>

<section id="services-slider" class="flex flex-wrap mx-auto pb-48 services-slider">
    <div id="services-slider-items" class="flex flex-wrap">
    <div class="flex flex-wrap py-12">
        <div class="flex flex-wrap w-11/12 bg-white mx-auto">
            <div class="w-full lg:w-2/3 p-12">
                <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Personal Insurance</h6>
                <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C pb-8 leading-tight">Insuring your auto, home, condo, boat and more.</h3>
                <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
                    <span class="font-calibre-bold text-base text-white brown-button-text">Call us today!</span>
                </a>
            </div>
            <div class="w-full lg:w-1/3 bg-cover services-img-2">
                <div class="py-32 lg:py-12"></div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap py-12">
        <div class="flex flex-wrap w-11/12 bg-white mx-auto">
            <div class="w-full lg:w-2/3 p-12">
                <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Personal Insurance</h6>
                <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C pb-8 leading-tight">Insuring your auto, home, condo, boat and more.</h3>
                <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
                    <span class="font-calibre-bold text-base text-white brown-button-text">View your options</span>
                </a>
            </div>
            <div class="w-full lg:w-1/3 bg-cover services-img-2">
                <div class="py-32 lg:py-12"></div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap py-12">
        <div class="flex flex-wrap w-11/12 bg-white mx-auto">
            <div class="w-full lg:w-2/3 p-12">
                <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Personal Insurance</h6>
                <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C pb-8 leading-tight">Insuring your auto, home, condo, boat and more.</h3>
                <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
                    <span class="font-calibre-bold text-base text-white brown-button-text">Call us today!</span>
                </a>
            </div>
            <div class="w-full lg:w-1/3 bg-cover services-img-2">
                <div class="py-32 lg:py-12"></div>
            </div>
        </div>
    </div>
    </div>
    <ul id="services-slider-controls" class="flex flex-wrap w-full -mt-200 pt-32 controls">
        <div class="relative w-1/4 h-full text-left z-0 outline-none">
            
        </div>
        <div class="relative w-1/4 h-full ml-auto text-right z-0 outline-none">
            
        </div>
    </ul>
    
</section>

<section class="flex flex-wrap pb-48 px-8 sm:px-20 lg:px-12 xl:px-48">
    <div class="w-full lg:w-1/2">
        <h3 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight pb-3">Insurance FAQs</h3>
        <p class="font-calibre text-base md:text-2xl font-thin leading-snug pb-8 pr-12">Insurance doesn’t have to be confusing. We’re here to help make life more enjoyable knowing that we have your trust, insured.</p>
        <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
            <span class="font-calibre-bold text-base text-white brown-button-text">See all FAQs</span>
        </a>
    </div>
    <div class="w-full lg:w-1/2 pt-20 lg:pt-0">
        <div class="pb-6 accordion-item">
            <div class="flex justify-between hover:cursor-pointer accordion-title-row">
                <div class="z-min1">
                <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Business Insurance Faqs</h6>
                <h3 class="font-canela text-2xl text-color-11594C leading-tight pb-2">How do I file a claim?</h3>
                </div>
            </div>
            <p class="hidden font-calibre text-lg leading-tight accordion-content">
                You can file a claim several ways. The best way is to contact the insurance company directly. For contact information by carrier, click here. You can also complete the File a Claim form on our website or call us.
            </p>
        </div>
        
        <div class="pb-6 accordion-item">
            <div class="flex justify-between hover:cursor-pointer accordion-title-row">
                <div class="z-min1">
                <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Life and Health Insurance Faqs</h6>
                <h3 class="font-canela text-2xl text-color-11594C leading-tight pb-2">Are rented vehicles covered under my business auto policy?</h3>
                </div>
            </div>
            <p class="hidden font-calibre text-lg leading-tight accordion-content">
                You can file a claim several ways. The best way is to contact the insurance company directly. For contact information by carrier, click here. You can also complete the File a Claim form on our website or call us.
            </p>
        </div>
        
        <div class="accordion-item">
            <div class="flex justify-between hover:cursor-pointer accordion-title-row">
                <div class="z-min1">
                <h6 class="font-calibre-bold text-2xs md:text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Personal Insurance Faqs</h6>
                <h3 class="font-canela text-2xl text-color-11594C leading-tight pb-2">How often should I review my life insurance policy?</h3>
                </div>
            </div>
            <p class="hidden font-calibre text-lg leading-tight accordion-content">
                You can file a claim several ways. The best way is to contact the insurance company directly. For contact information by carrier, click here. You can also complete the File a Claim form on our website or call us.
            </p>
        </div>
    </div>

</section>

<section id="about-us-section" class="flex flex-wrap items-center pb-48 px-8 lg:px-20">
    <div class="w-full lg:w-7/12 bg-cover shadow-lg about-us-image">
        <div class="py-24 sm:py-56 lg:py-80"></div>
    </div>
    <div class="w-full lg:w-5/12 pt-5 px-0 lg:px-16">
        <h6 class="font-calibre-bold text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">YOUR TRUSTED ADVISOR</h6>
        <h1 class="font-canela text-3xl md:text-4.5xl text-color-11594C leading-tight pb-3">We have your trust, insured.</h1>
        <p class="font-calibre text-base md:text-lg font-thin leading-snug pb-8">Lee, Hill & Johnston Insurors has been doing business in Statesboro, Georgia since 1963. We are proud to provide insurance and financial solutions to more than 6,000 individuals and businesses in our area. We are committed to building a solid relationship with customers through practical solutions and excellent service.</p>
        <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
            <span class="font-calibre-bold text-base text-white brown-button-text">Read more</span>
        </a>
    </div>
</section>

{{ end }}