<style>
.header-container {
    background-color: #EFEEEB;
}
body {
    background-color: #EFEEEB;
}
select {
  background-color: #EFEEEB;
}
input {
  border-width: 1px;
  border-color: #cccccc;
  color: #262626;
}
input:hover {
  border-color: #11594C;
}
input:focus {
  border-color: #11594C !important;
}
input::placeholder {
  color: #bbb;
}
textarea {
  border-width: 1px;
  border-color: #cccccc;
  color: #262626;
}
textarea:hover {
  border-color: #11594C;
}
textarea:focus {
  border-color: #11594C !important;
}
textarea::placeholder {
  color: #bbb;
}
form select {
  border-width: 1px;
  border-color: #cccccc;
  color: #262626;
  background-color: #fff;
}
form select:hover {
  border-color: #11594C;
}
form select:focus {
  border-color: #11594C !important;
}
.collage-image {
    background-image: url("/pageimg/about-lee-hill-johnston.png");
}
.select-navigation {
    background-image: url("/pageimg/About Us Image.jpg");
}

.green-button {
    background-color: #00594D;
}

.green-button:hover {
    background-color: #0D443A;
    cursor: pointer;
}

.green-button:active {
    background-color: #092E27;
}

.green-button:focus {
    background-color: #0D443A;
}

.brown-button {
    background-color: #C2995F;
}

.brown-button:hover {
    background-color: #BB8D4D;
    cursor: pointer;
}

.brown-button:active {
    background-color: #AC8042;
    border-top-width: 3px;
    border-color: #0A3039;
}

.brown-button:focus {
    background-color: #C2995F;
}

.about-us-image {
    background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/w_auto,dpr_auto,c_fill,g_auto,f_auto/v1574219399/Lee%2C%20Hill%20and%20Johnston/About_Us_Image_pzofqw.jpg");
}

.tns-nav {
    text-align: center;
}
.tns-nav > [aria-controls] {
    background-color: grey;
    opacity: 0.4;
    padding: 3px;
    margin-right: 5px;
    border-radius: 6em;
    transition: .2s;
}
.tns-nav > .tns-nav-active {
    background-color: #00594D;
    padding: 5px;
    opacity: 1;
    border-radius: 6em;
    transition: .2s;
}
.accordion-content {
    transition: .2s;
}

.accodion-styling ul {
    list-style: disc;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
}
.accodion-styling ul li p {
    padding-bottom: 20px;
}
.accodion-styling ol {
    list-style: decimal;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
}
.accodion-styling ol li p {
    padding-bottom: 20px;
}

.select-css {
	padding: 0em 1em 0em 1em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('/pageimg/dropdown-arrow.svg');
	background-repeat: no-repeat, repeat;
	background-position: right .1em top 45%, 0 0;
	background-size: 2.2em auto, 100%;
}

.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	border-color: #888;
}

.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.select-css option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}

.select-css-quote {
	padding: 0em .5em 0em .5em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('/pageimg/dropdown-arrow.svg');
	background-repeat: no-repeat, repeat;
	background-position: right .1em top 45%, 0 0;
	background-size: 2.2em auto, 100%;
}

.select-css-quote::-ms-expand {
	display: none;
}

.select-css-quote:hover {
	border-color: #888;
}

.select-css-quote:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.select-css-quote option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css-quote, :root:lang(ar) .select-css-quote, :root:lang(iw) .select-css-quote {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css-quote:disabled, .select-css-quote[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css-quote:disabled:hover, .select-css-quote[aria-disabled=true] {
	border-color: #aaa;
}

{{ if eq .Title "Home" }}
nav a {
  color: white;
}
nav a:hover {
  color: #cccccc;
}
{{ else }}
nav a {
  color: #262626;
}
nav a:hover {
  color: #666666;
}
.fa-bars {
  color: #29584d;
}
{{ end }}


</style>

<div id="header-functions" class="z-50">
{{ if eq .Site.Params.extra_tools.floating_header true }}
<div id="headerFloatingHeightFix" class="" ></div>
{{ else }}
{{ end }}

<section id="header" class="header-container">
  <div class="flex flex-wrap items-center relative bg-color-AA803F topbar">
    <div class="flex flex-wrap w-5/6 max-w-7xl mx-auto py-3">
      <a href="tel:9127649896" class="w-full md:w-1/2">
        <h6 class="font-calibre text-base text-white text-center md:text-left">Call us today (912) 764-9896</h6>
      </a>
      <a href="/quote/" class="hidden md:block w-full md:w-1/2">
        <h6 class="font-calibre text-base text-white text-right">Get an Online Quote Today!</h6>
      </a>
    </div>
  </div>
  <div class="flex flex-wrap items-center max-w-8xl mx-auto py-8 px-6 md:px-20 z-50 select-none header-box">
    <a id="logo" class="w-1/2 md:w-1/3 lg:w-1/5 mr-auto z-50" href="/">
      {{ if eq .Title "Home" }}
      <img class="w-48" src="{{ .Site.Params.logos.logo }}">
      {{ else }}
      <img class="w-48" src="{{ .Site.Params.logos.footer_logo }}">
      {{ end }}
    </a>
    {{ partial "siteNavi.html" . }}
  </div>
</section>

<div class="bg-color-00594D h-full pb-32 z-min1 mobile-menu">
  <div class="flex flex-wrap items-center py-8 px-6 md:px-20 select-none header-box">
    <a id="logo" class="w-1/2 md:w-1/3 lg:w-1/5 mr-auto z-50" href="/">
      <img class="w-48" src="{{ .Site.Params.Logos.mobile_logo }}">
    </a>
    <i class="w-1/3 md:w-2/3 text-2xl md:text-4xl text-white text-right fas fa-times close-menu"></i>
  </div>
  <div class="w-5/6 mx-auto flex flex-wrap pt-8 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    {{ if .HasChildren }}
  <div class='w-full text-left text-white hover:text-white opacity-100 hover:opacity-75 text-2xl font-bold pb-8'><a class='font-canela text-white no-underline tracking-wide desktop-menu-item'>{{ .Name }}</a>
    <ul class='w-11/12 mx-auto' role='menu'>
      {{ range .Children }}
      <li>
        <a href='{{ .URL }}' class='font-calibre text-2xl font-thin opacity-75 text-white no-underline menu-item'>{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
{{ else }}
      <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}w-full font-calibre text-white text-left text-3xl font-bold no-underline pb-8" href="{{.URL}}">{{ .Name }}</a>{{ end }}
    {{ end }}
  </div>
</div>

</div>