{{ define "main" }}

<style>
.select-navigation {
    background-image: url("{{ .Params.navigation_image }}")
}
</style>

{{ partial "globals/select-navigation.html" . }}

<div class="flex flex-wrap pt-20 pb-32">
    <div class="w-7/12 pl-32 pr-20 font-calibre text-base md:text-2xl text-color-262626">
        {{ .Content }}
    </div>
    <div class="w-5/12 pr-56">
        <p class="font-calibre text-base md:text-2xl text-color-11594C pb-8">Do you have questions about your builders risk insurance policy?</p>
        <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
            <span class="font-calibre-bold text-base text-white brown-button-text">Talk to an Agent</span>
        </a>
    </div>
</div>

<section id="clients-represented" class="flex flex-wrap items-start pb-12 px-8 lg:px-20">
    <div class="w-full lg:w-1/3 pt-5 pl-12">
        <h6 class="font-calibre-bold text-xs text-color-AC8042 tracking-widest2xl pb-2 uppercase">Personal Insurance</h6>
        <h1 class="font-canela text-3xl text-color-11594C leading-tight pb-8">Companies We Represent</h1>
        <a href="" class="py-3 px-8 rounded-lg focus:shadow-lg brown-button">
            <span class="font-calibre-bold text-base text-white brown-button-text">Get a Quote</span>
        </a>
    </div>
    <div class="w-2/3 px-12">
        <p class="font-calibre text-base md:text-2xl text-color-262626 pb-8">At Lee Hill and Johnston, we pride ourselves on our independence. The variety of companies we offer our clients enable us to give you the best coverage and the best price. Below is a list of companies we represent:</p>
        <ul class="list-disc list-inside font-calibre text-base md:text-2xl text-color-262626 pb-8">
            {{ range .Params.companies_represented }}
            <li><span class="-ml-4">{{ . }}</span></li>
            {{ end }}
        </ul>
    </div>
</section>

{{ partial "globals/collage-section.html" . }}

{{ end }}